/*fork me on GitHub*/

#fork-on-github a {
  background: #e95420;
  color: #fff;
  display: block;
  font-family: arial, sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 2rem;
  padding: 5px 40px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: .5s;
}

#fork-on-github a:hover {
  background: orange;
  color: #fff;
}

@media screen and (min-width: 1280px) {

  #fork-on-github {
    display: block;
    height: 200px;
    left: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 200px;
    z-index: 99;
  }

  #fork-on-github a {
    display: inline-block;
    margin: 10px 0;
    pointer-events: auto;
    width: 200px;
  }
}

/*gitter button*/

.gitter-open-chat-button {
  background-color: #e95420;
  bottom: 36px;
}

.btn {
  font-size: inherit;
  padding: 0 0;
}

.copy-button-group .copy-button {
  font-size: 15px;
  padding-left: 4px;
  padding-right: 4px;
}

button.dropdown-toggle {
  font-size: 15px;
}

.copy-button-group {
  padding-top: 10px;
}

.dropdown-menu > li > a,
.btn:hover,
.btn:focus,
.btn.focus {
  color: #e95420;
}

.dropdown-menu {
  min-width: 0;
}

ul.dropdown-menu > li {
  float: left;
}

/* New CarbonAds styles */

#default-demo #_default_ {
  background-color: #f9f9f9;
  border-radius: 3px;
  line-height: 1.5;
  margin: 1em 0;
  position: relative;
  text-align: center;
}

#default-demo .default-ad {
  display: none;
}

#default-demo ._default_ {
  display: block;
  line-height: 1.5;
  overflow: hidden;
  padding: .5em 2em;
}

#default-demo ._default_ > * {
  vertical-align: middle;
}

#default-demo a {
  color: #9a9a9a;
  text-decoration: none;
  transition: color .15s ease-in-out;
}

#default-demo a:hover {
  color: #e95420;
}

#default-demo .default-image {
  display: inline-block;
  line-height: 0;
  margin-right: 6px;
}

#default-demo .default-image img {
  border-radius: 3px;
  height: 20px;
}

#default-demo .default-title::after {
  content: " — ";
}

#default-demo .default-title,
#default-demo .default-description {
  display: inline;
}

#default-demo .default-title {
  font-weight: 600;
  position: relative;
}

#default-demo .default-description::after {
  border: solid 1px #e95420;
  border-radius: 3px;
  color: #e95420;
  content: "Ad";
  font-family: Verdana, sans-serif;
  font-size: 9px;
  padding: 1px 4px;
  position: relative;
  right: -8px;
  text-transform: uppercase;
  top: -1px;
}

#nb-hits-field {
  font-size: 16px;
}

tr {
  font-size: 16px;
}

.library-url {
  margin: 5px 0 5px;

  /* Selection helper */
  -webkit-user-select: all;
  -moz-user-select: all;
  -ms-user-select: all;
  user-select: all;
}

/* scrollUp - Pill style */

#scrollUp {
  -webkit-backface-visibility: hidden;
  background-color: #555;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  bottom: 22px;
  color: #fff;
  font-family: sans-serif;
  font-size: 14px;
  opacity: .9;
  padding: 10px 20px;
  right: 22px;
  text-decoration: none;
  -webkit-transition: background 200ms linear;
  -moz-transition: background 200ms linear;
  -o-transition: background 200ms linear;
  transition: background 200ms linear;
}

#scrollUp:hover {
  background-color: #000;
}

.container {
  width: 87%;
}

/* statuspage indicator */

.status-color-dot {
  border-radius: 50%;
  display: inline-block;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}

.status-color-dot.critical {
  background-color: #e74c3c;
}

.status-color-dot.major {
  background-color: #e67e22;
}

.status-color-dot.minor {
  background-color: #f1c40f;
}

.status-color-dot.none {
  background-color: #2ecc71;
}

#libLink {
  display: inline-block;
  text-decoration: none;
}

#libLink:hover span {
  text-decoration: underline;
}

#control-hidden .btn {
  background: #f5f5f5;
  border: none;
  color: #e95420;
  cursor: pointer;
  margin-bottom: 1em;
  padding: .5em 1em;
}

#control-hidden .btn:hover,
#control-hidden .btn:focus {
  color: #ac3911;
  text-decoration: underline;
}
