html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  padding-top: 7px;
  width: 100%;
  background-color: #f5f5f5;
}

body {
  margin-bottom: 25px;
  overflow-y: scroll;
}

.page {
  padding-top: 15px;
}

.assets.active {
  display: block !important;
}

.copy-button-group {
  position: absolute;
  right: 10px;
  top: 2px;
}
.copy-options .css {
  display: none;
}
.copy-options .js {
  display: none;
}
.js-type .copy-options  .js {
  display: block !important;
}

.css-type .copy-options  .css {
  display: block !important;
}

.library-container .add-favorite,
.favorite .add-favorite {
  display: none;
}
.favorite .remove-favorite {
  display: block !important;
}
.remove-favorite {
  display: none !important;
}



p#name a{
    text-decoration: none;
    font-family: arial, helvetica;
    color: #007BA8;
    font-weight: bold;
    position: relative;
    bottom: 8px;
}

p#date{
  position: relative;
  text-align: right;
  margin: 0 25px 15px 0;
  font-family: helvetica;
  font-size: 0.8em;
  color: #919191;
}

.packages-table-container tbody em {
  font-weight: bold;
  font-style: normal;
  background: #ffdead;
}

.packages-table-container tbody tr td:last-child {
  width: 60% !important;
}

.packages-table-container tbody tr .label-default.highlight, .label-highlight {
  background-color: #575552;
}

.packages-table-container tbody tr .label-default.highlight em {
  color: #ffdead;
  background: none;
}

.label-highlight a {
  color: white !important;
 }

#carbonads {
  border: none !important;
  border-radius: 4px;
  width: 330px!important;
  height: auto!important;
  padding: 15px!important;
  overflow: hidden;
  margin-bottom: 10px;
}

.carbon-text, .carbon-poweredby {
  display: block!important;
  margin-left: 145px!important;
  font-size: 13px!important;
  line-height: 16px!important;
  color: #333333;
}

.carbon-poweredby {
  margin-top: 10px;
}

.carbon-img > img {
  float: left;
  display: inline;
  width: 130px;
  height: 100px;
}
#search-box {
  margin: 0px 0 15px 0;
}
.container.home {
  margin-top: 200px;
}
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
}
.menu li {
  float: right;
  margin-left: 15px;
  font-size: 18px;
}
.logo {
  float: left !important;
  margin-left: 0 !important;
}
.logo a {
  font-weight: bold;
}

.version-dropdown {
  margin-top: 20px;
}
