body {
  overflow-y: scroll;
  padding-top: 15px;
}

.avatar-frame{border: 2px solid #dd4814;}
.avatar-frame,.avatar-frame img{
  width: 90px;
  margin-bottom: 17px;
  height: 90px;
  -webkit-border-radius: 80px; /* Saf3+, Chrome */
  border-radius: 80px; /* Opera 10.5, IE 9 */
  /*-moz-border-radius: 30px;  Disabled for FF1+ */
}

.assets.active {
  display: block !important;
}

.copy-button-group {
  position: absolute;
  right: 10px;
  top: 2px;
}
.copy-options .css {
  display: none;
}
.copy-options .js {
  display: none;
}
.js-type .copy-options  .js {
  display: block !important;
}

.css-type .copy-options  .css {
  display: block !important;
}
.favorite .add-favorite {
  display: none;
}
.favorite .remove-favorite {
  display: block !important;
}
.remove-favorite {
  display: none !important;
}