<div class="container">
  <div class="row">
  <div class="col-md-6">
    <p style="margin-top: 6px;">
    
      <span>Everyone loves the&nbsp;</span><a target="_blank" href="http://code.google.com/apis/libraries/devguide.html">Google CDN</a><span>&nbsp;right? Even&nbsp;</span><a href="http://www.asp.net/ajaxlibrary/cdn.ashx" target="_blank">Microsoft runs their own CDN</a>.
      <br><span>The problem is, they only host the most popular libraries.</span>
      <br><span>We host all the popular libraries - JavaScript, CSS, SWF, images, etc!</span>
      <br><span>Join us now on GitHub!</span><br>
      <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=watch&count=true&v=2" frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=star&count=true" frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=new-website&type=star&count=true" frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=cdnjs&repo=cdnjs&type=fork&count=true" frameborder="0" scrolling="0" width="105px" height="20px"></iframe>
      </p><p>
      <span>Supports <a href="https://http2.github.io"><strong>http2.0</strong>/</a>http/https/<a href="https://en.wikipedia.org/wiki/SPDY">spdy</a>, we encourage always using <strong>https</strong>!
      <br /><span>Currently used by ~1,143,000 websites worldwide, </span><a href="http://trends.builtwith.com/cdn/CDN-JS">see more</a>.
    </p>

    <div class="logged-in" style="display: none;">
      <p>
        <img id="gravatar" src="" style="float: left; width: 64px; height: 64px; border: 1px solid #ccc; margin-right: 10px;" />Hey
        <span style="font-weight: bold;" id="name"></span>
      </p>
      <ul style="list-style: none;">
        <li>Hover over rows and click on the +/- symbols to change your favorites(yellow)</li>
      </ul>
    </div>
    <h3>Sponsors</h3>
    <div class="sponsors">

<a href="http://cloudflare.com">
  <img alt="cloudflare" style="margin-bottom: 20px;" src="/img/poweredbycloudflare.png" />
</a>
<br />
      <p>At CloudFlare, we believe that open source, community-driven projects like CDNJS are the tools upon which the future of the internet will be built. CloudFlare is proud to provide the global CDN infrastructure that will help power that future.</p>
      <br />
          <p style="color: #444"><a href="https://www.userapp.io" target="_blank"><img src="https://www.userapp.io/img/badge.png" title="User management by UserApp" width="200" height="63"></a><br /><span >Our user system is sponsored by UserApp. UserApp provides you with user management functionality that results in faster development, faster revenue, more users, and the ability to serve your users better by engaging with them more efficiently.</span></p>
      <br />
      <a href="https://www.algolia.com/?utm_source=cdnjs&utm_medium=link&utm_campaign=cdnjs_about">
        <img alt="algolia" style="margin-bottom: 20px;" src="/img/algolia256x80.png" width="128" height="40"/>
      </a>
      <p>Algolia provides a developer-friendly SaaS API for database search. It enables any website or mobile application to easily provide its end-users with an instant and relevant search. With Algolia's unique find as you type experience, users can find what they're looking for in just a few keystrokes.</p>
      <!--
                            <em><img src="http://d2i3bryf8wh7jo.cloudfront.net/bitcoin1.png" style="float: left; margin-right: 10px; width: 40px; height: 40px;" /> Earn <strong>$5 in Bitcoin</strong> for every pull request which <a href="https://github.com/cdnjs/cdnjs#enabling-npm-auto-update">converts a library to auto-update.</a></em>-->
    </div>
    <h3>Media</h3>
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="//www.youtube-nocookie.com/embed/6-5hJblkLjo?rel=0&hd=1&vq=hd720" allowfullscreen></iframe>
    </div>
  </div>
  <div class="col-md-6">

    <table class="table" style="margin-top: 15px; margin-bottom: 15px;">
      <thead>
        <tr>
          <td><h3>Creators</h3></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width:300px;">
            <a href="http://github.com/ryankirkman">
              <img style="width: 50px; height: 50px;" src="/img/ryan.jpg" />
              Ryan Kirkman
            </a>
            <a style="margin-top: 10px;" class="twitter-follow-button" href="https://twitter.com/ryan_kirkman" data-show-count="false" data-lang="en">Follow @ryan_kirkman</a>
          </td>
          <td style="width: 300px;">
            <a href="http://github.com/thomasdavis">
              <img style="width: 50px; height: 50px;" alt="" src="/img/thomas.jpg" />
              Thomas Davis
            </a>
            <a style="margin-top: 10px;" class="twitter-follow-button" href="https://twitter.com/neutralthoughts" data-show-count="false" data-lang="en">Follow @neutralthoughts</a>
          </td>
        </tr>
      </tbody>
      <thead>
        <tr>
          <td><h3>Maintainers</h3></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="width: 300px;">
            <a href="https://github.com/PeterDaveHello">
              <img style="width: 50px; height: 50px;" alt="Peter Dave Hello" src="/img/PeterDaveHello.jpg" />
              Peter Dave Hello
            </a>
            <a style="margin-top: 10px;" class="twitter-follow-button" href="https://twitter.com/peterdavehello" data-show-count="false" data-lang="en">Follow @peterdavehello</a>
          </td>
          <td style="width: 300px;">
            <a href="http://decompile.it/blog/">
              <img style="width: 50px; height: 50px;" alt="Drew Freyling" src="/img/drew.jpg" />
              Drew Freyling
            </a>
            <a style="margin-top: 10px;" class="twitter-follow-button" href="https://twitter.com/drewfreyling" data-show-count="false" data-lang="en">Follow @drewfreyling</a>
          </td>
          <td style="width: 300px;">
            <a href="http://petecooper.org">
              <img style="width: 50px; height: 50px;" alt="Pete Cooper" src="/img/pete.jpg" />
              Pete Cooper
            </a>
            <a style="margin-top: 10px;" class="twitter-follow-button" href="https://twitter.com/petecooper" data-show-count="false" data-lang="en">Follow @petecooper</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  </div>
</div>

    <script async>window.twttr=(function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],t=window.twttr||{};if(d.getElementById(id))return t;js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);t._e=[];t.ready=function(f){t._e.push(f);};return t;}(document,"script","twitter-wjs"));</script>
