<div class="container">
  <div class="row">
    <div class="col-md-12">
        <input id="search-box" placeholder="Search from {{libCount}} libraries with {{libVerCount}} different versions ..." type="text" class="form-control col-md-7 search" aria-controls="example">
        <div class="text-right text-muted">Realtime search by <a href="http://www.algolia.com/?utm_source=cdnjs&amp;utm_medium=link&amp;utm_campaign=cdnjs_search" target="_blank"><img src="/img/algolia.svg" style="height: 20px; width:75;" /></a></div>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12">
    <div>
      <div class="packages-table-container" style="display: none;">
        <div id="default_demo"></div>

        <table style="margin-top: 10px;" cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="example">
          <thead>
            <tr>
              <th>Library</th>
              <th>Link</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>
</div>

<script src="//m.servedby-buysellads.com/monetization.js" type="text/javascript"></script>
<script>
(function(){
  _bsa.init('default', 'CVAI653I', 'placement:demo', {
    target: '#default_demo',
    align: 'horizontal',
    disable_css: 'true'
  });
})();
</script>
