<div class="container">
  <div class="row home-info">
    <div class="col-md-12">
      <p>The best FOSS CDN for web related libraries to speed up your websites!</p>
      <ul>
        <li><a href="https://github.com/cdnjs/cdnjs" target="_blank">
          <i class="fa fa-check-circle"></i> Open Source</a></li>
        <li><i class="fa fa-check-circle"></i> Free to Use</li>
        <li><a href="https://en.wikipedia.org/wiki/HTTPS" target="_blank">
          <i class="fa fa-check-circle"></i> Uses HTTPS</a></li>
        <li><a href="https://http2.github.io/" target="_blank">
          <i class="fa fa-check-circle"></i> Supports http/2.0</a></li>
        <li><a href="https://www.w3.org/TR/SRI/" target="_blank">
          <i class="fa fa-check-circle"></i> SRI implemented</a></li>
        <li><a href="https://trends.builtwith.com/cdn/CDN-JS" target="_blank">
          <i class="fa fa-check-circle"></i> Used by over 4 million live sites</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <input id="search-box" type="text" class="form-control col-md-7 search" aria-controls="example"
             placeholder="Search from {{libCount}} libraries with {{libVerCount}} different versions ..."/>
      <div class="text-right text-muted">
        Realtime search by <a
        href="https://www.algolia.com/?utm_source=cdnjs&amp;utm_medium=link&amp;utm_campaign=cdnjs_search"
        target="_blank"><img src="/img/algolia.svg" alt="Algolia" style="height: 20px; width: 75px;"/></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div>
        <div class="packages-table-container" style="display: none;">
          <div id="default_demo"></div>
          <p style="display: none;">Found <span id="nb-hits-field" class="major-color">0</span> libraries in <span
            id="processingTimeMS">0</span>ms.</p>
          <table style="margin-top: 10px; margin-bottom: 80px;" cellpadding="0" cellspacing="0" border="0"
                 class="table table-striped" id="example">
            <thead>
            <tr>
              <th>Library</th>
              <th>Link</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="//m.servedby-buysellads.com/monetization.js"></script>
<script>
  (function () {
    _bsa.init('default', 'CVAI653I', 'placement:demo', {
      target: '#default_demo',
      align: 'horizontal',
      disable_css: 'true'
    });
  })();
</script>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://cdnjs.com/",
    "potentialAction": {
      "@type": "SearchAction",
      "target": "https://cdnjs.com/#q={search_term_string}",
      "query-input": "required name=search_term_string"
    }
  }
</script>
