<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
  <head>
    <link rel="preconnect" href="//cdnjs.cloudflare.com" pr="1.0" />
    <link rel="preconnect" href="//www.algolia.com" pr="0.85" />
    <link rel="dns-prefetch" href="//static.getclicky.com" />
    <link rel="dns-prefetch" href="//www.google-analytics.com" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}</title>
    <meta property="og:title" content="{{title}}" />
    <meta property="og:image" content="/img/logotext.png" />
    <meta property="og:description" content="{{description}}" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="{{description}}">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="cdnjs">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/3.5.0/octicons.min.css" />
    <link rel="dns-prefetch" href="//cdn.carbonads.com" />
    <link rel="dns-prefetch" href="//goo.gl" />
  </head>

  <body>
    <div class="container {{wrapperClass}}">
      <ul class="Menu">
        <li class="Menu__logo"><a href="/">cdnjs</a></li>
        <li><a class="Menu__item"  href="http://stats.pingdom.com/4jg86a2wqei0" target="_blank">Uptime</a></li>
        <li><a class="Menu__item" href="/about">About</a></li>
      </ul>
  </div>

  <div class="page">
    {{{page}}}
  </div>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0/handlebars.min.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-dropdown.min.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.1/js/bootstrap-tooltip.min.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js" defer></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/algoliasearch/3.10.2/algoliasearch.min.js" defer></script>
  <script src="/js/main.js" defer></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44291190-1', 'auto');
      ga('require', 'linkid', 'linkid.js');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
      if($('.post').length > 0) {
        $('.menu').parent().removeClass('col-md-12').addClass('col-md-10 col-md-offset-1');
      };

      $('.post > p, .post  > h1, .post > h2, .post > ul, .post > h3, .post > blockquote').wrap('<div class="container"><div class="row"><div class="col-md-10 col-md-offset-1">');
      $('.post > pre > code').wrapInner('<div class="container"><div class="row"><div class="col-md-10 col-md-offset-1">');
      $('.post code').addClass('hljs');
      $('.post').show();
    </script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.1.0/highlight.min.js"></script>
<script defer>hljs.initHighlightingOnLoad();</script>
<div class="hired-banner">
  <div style="position: relative; height: 0;">
    <div class="hired-triangle"></div>
    <span class="octicon octicon-x close-banner"></span>
  </div>
  <div class="container">
    <div class="header">
      <span class="hired-logo">HIRED</span>
      <span class="hired-promo">Are you a developer? We bring job offers to you<span class="octicon octicon-plus-small banner-expand"></span></span>
    </div>
    <div class="hired-content">
      <div style="clear: both;"></div>
      <div class="first-pitch">We Bring Job Offers To You</div>
<div class="first-copy">FREE For Candidates. Salaries from $75,000 to $200,000</div>
<input class="email-input" />
<input type="submit" class="get-job-offers" value="GET JOB OFFERS" />
<p class="hired-privacy">By entering your email address, you are agreeing to Hired's Terms of Service and Privacy Policy.</p>
<div class="hired-divider">
      <div class="xs-mrlauto xs-11of12 sm-8of12 md-6of12">
<div class="how-it-works" id="how-it-works-title">How It Works</div>
<ol class="list-numbered">
<li class="xs-delta" id="how-it-works-first">Answer a Few Questions</li>
<li class="xs-delta" id="how-it-works-second">Companies Send You Offers with Salary Details Upfront</li>
<li class="xs-delta" id="how-it-works-third">Your Profile is Hidden from Current and Previous Employers</li>
<li class="xs-delta" id="how-it-works-fourth">Find a Job and Get a $1000 Bonus From Hired</li>
</ol>

<a href="" class="learn-more">LEARN MORE</a>
</div>
    </div>
    <!-- <div style="position: relative;">
      <span class="octicon octicon-triangle-up banner-expand"></span>
    </div> -->
  </div>

</div>
</body>
</html>
