<div class="row library-container">
  <div class="col-md-12">
    <h1 style="margin-top: 00px;">{{library.name}}</h1>

    <p><a href="{{library.homepage}}">{{library.homepage}}</a>
      <p class="translateit">{{library.description}}</p>
      <em class="translateit">{{library.keywords}}</em>
      <br />
      {{#library.gratipay}}
      <a href="https://gratipay.com/{{library.gratipay}}/"><img src="https://img.shields.io/gratipay/{{library.gratipay}}.svg" /></a>
      {{/library.gratipay}}
      {{#library.namespace}}
      <a href="http://libscore.com#{{library.namespace}}"><img src="http://api.libscore.com/badge/{{library.namespace}}.svg" /></a>
      {{/library.namespace}}
      <br />
      <br />
      <select class="form-control version-selector" style="float: right;">
        {{#library.assets}}
          <option value="{{version}}" {{selected}}>{{version}}</option>
        {{/library.assets}}
      </select>
      <div style="clear: both;"></div>
      <br />
      {{#library.assets}}
      <div data-library-version="{{version}}" class="assets panel panel-primary {{classes}}" style="display: none;">
        <div class="panel-heading">
          <div class="panel-title">{{librarypage.version}} {{version}}</div>
        </div>

        <div class="panel-body">

          <table style="margin-top: 10px;" cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="example">

            <tbody>
              {{#files}}
              <tr class="library">
                <td class="library-column"  data-lib-name="{{library.name}}" style="position: relative;">
                  <p class='library-url'>https://cdnjs.cloudflare.com/ajax/libs/{{library.originalName}}/{{version}}/{{name}}</p>
                </td>
              </tr>
              {{/files}}
            </tbody>
          </table>
        </div>
      </div>

      {{/library.assets}}
      <!--
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
          var disqus_shortname = 'cdnjsweb'; // required: replace example with your forum shortname
          var disqus_identifier = '/libraries/{{library.name}}';
          var disqus_title = '{{library.name}}';
          var disqus_url = 'http://cdnjs.com/libraries/{{library.name}}';
          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    -->
  </div>
</div>
