<div class="container" style="text-align: center;">
  <form class="form" onsubmit="return signup()">
    <h2 class="form-heading">{{register.title}}</h2>
    <p>{{{register.description}}}</p>
    <!--<br />
  Post updates about <strong>your projects</strong> to over 40,000 developers a week</p>-->

    <br />
    <br />
    <div class="form-fields">
      <input id="username" type="text" class="form-control" placeholder="{{register.username}}" required>
      <br />
      <input id="email" type="text" class="form-control" placeholder="{{register.email}}" required>
      <br />
      <input id="password" type="password" class="form-control" placeholder="{{register.password}}" required>
      <br />
    </div>
    <button class="btn btn-lg btn-info btn-block" type="submit">{{register.create-button}}</button>
    <img id="loader" src="img/ajax-loader.gif" style="display: none; margin: 30px auto;">
  </form>
  <p>
    <br />{{{register.already-have-an-account}}}
  </p><br />
  <div  class='col-md-6 col-md-offset-3'>

  <p style="color: #444"><a href="https://www.userapp.io" target="_blank"><img src="https://www.userapp.io/img/badge.png" title="User management by UserApp"></a><br />{{register.userapp-description}}</p>
</div>
</div>
<script>
// Function to show and hide the loader anim

function showLoader(show) {
  document.getElementById("loader").style.display = (show ? "block" : "none");
}

function onLoginSuccessful() {
  // Now, save the token in a cookie
  Kaka.set("ua_session_token", UserApp.global.token);

  // Redirect the user to the index page
  window.location.href = "/";
  showLoader(false);
}

function signup() {
  // Show the loader
  showLoader(true);
  Kaka.remove("ua_session_token");
  // This will sign up the user
  UserApp.User.save({
    login: document.getElementById("username").value,
    email: document.getElementById("email").value,
    password: document.getElementById("password").value
  }, function(error, user) {
    if (error) {
      alert("Error: " + error.message);
    } else {

      UserApp.User.login({
        login: document.getElementById("username").value,
        password: document.getElementById("password").value
      }, function(error, result) {
        if (error) {
          // Wrong password maybe?
          alert("Error: " + error.message);
          showLoader(false);
        } else {
          $.ajax('/newregistration/' + document.getElementById("username").value, {
            success: function () {
              onLoginSuccessful();
            }
          })
        }
      });
    }

    showLoader(false);
  });

  return false;
}
</script>
