<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.6/styles/monokai_sublime.min.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:400italic,700italic,700,400' rel='stylesheet' type='text/css'>
<style>
.post {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.post p, .post ul {
  line-height: 30px;

}
pre {
  font-size: 18px;
  display: block;
  padding: 0;
  margin: 50px 0 50px 0;
  font-size: 18px;
  word-wrap: break-word;
  color: #333333;
  border: none;
  border-radius: 0;

}
h1,h2,h3,h4,h5 {
  margin: 20px 0 20px 0;
}
</style>

<div class="post">
   {{{tute}}}
<div>

<script>
</script>